# async handler
asyncio==3.4.3

openai
litellm

# text extraction
trafilatura==1.9.0 

# PDFs
markitdown[all]

# Telegram
python-telegram-bot==21.1.1

# YouTube
youtube_transcript_api==0.6.2

# yt-dlp for downloading YouTube audio
yt-dlp

# pydub for audio processing
pydub

beautifulsoup4
lxml
pymongo
feedparser